<div class="our-projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
            </div>
            <div class="col-lg-12">
                <div class="row project-item-boxes">
                    <div class="col-lg-4 col-md-6 project-item-box solar">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/panou-solar-monocristalin-400w">
                                    <figure><img src="assets/images/project-1.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Panou Solar Monocristalin 400W</h3>
                                <p>Panouri Solare</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/panou-solar-monocristalin-400w" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box wind">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/turbina-eoliana-rezidentiala-3kw">
                                    <figure><img src="assets/images/project-2.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Turbină Eoliană Rezidențială 3kW</h3>
                                <p>Turbine Eoliene</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/turbina-eoliana-rezidentiala-3kw" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box power">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/baterie-stocare-litiu-10kwh">
                                    <figure><img src="assets/images/project-3.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Baterie Stocare Litiu 10kWh</h3>
                                <p>Stocare Energie</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/baterie-stocare-litiu-10kwh" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box solar">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/panou-solar-policristalin-330w">
                                    <figure><img src="assets/images/project-4.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Panou Solar Policristalin 330W</h3>
                                <p>Panouri Solare</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/panou-solar-policristalin-330w" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box hybrid">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/invertor-hibrid-solar-eolian-5kw">
                                    <figure><img src="assets/images/project-5.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Invertor Hibrid Solar-Eolian 5kW</h3>
                                <p>Sisteme Hibride</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/invertor-hibrid-solar-eolian-5kw" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box power">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/sistem-ups-solar-off-grid">
                                    <figure><img src="assets/images/project-6.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Sistem UPS Solar Off-Grid</h3>
                                <p>Stocare Energie</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/sistem-ups-solar-off-grid" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box solar">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/panou-solar-bifacial-450w">
                                    <figure><img src="assets/images/project-7.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Panou Solar Bifacial 450W</h3>
                                <p>Panouri Solare</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/panou-solar-bifacial-450w" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box hybrid">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/kit-solar-complet-rezidential-8kw">
                                    <figure><img src="assets/images/project-8.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Kit Solar Complet Rezidențial 8kW</h3>
                                <p>Sisteme Hibride</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/kit-solar-complet-rezidential-8kw" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 project-item-box wind">
                        <div class="project-item">
                            <div class="project-image" data-cursor-text="View">
                                <a routerLink="/catalog/turbina-eoliana-industriala-10kw">
                                    <figure><img src="assets/images/project-9.jpg" alt=""></figure>
                                </a>
                            </div>
                            <div class="project-content">
                                <h3>Turbină Eoliană Industrială 10kW</h3>
                                <p>Turbine Eoliene</p>
                                <div class="project-readmore-btn">
                                    <a routerLink="/catalog/turbina-eoliana-industriala-10kw" class="btn-default btn-highlighted">detalii produs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
