<div class="our-projects">
    @if (products().length) {
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                </div>
                <div class="col-lg-12">
                    <div class="row project-item-boxes">
                        @for (product of products(); track product.slug.current; let i = $index) {
                            <div class="col-lg-4 col-md-6 project-item-box">
                                <div class="project-item">
                                    <div class="project-image" data-cursor-text="View">
                                        <a [routerLink]="['/catalog', product.slug.current]">
                                            <figure><img [src]="getCoverImageUrl(product)" [alt]="getTitle(product)"></figure>
                                        </a>
                                    </div>
                                    <div class="project-content">
                                        <h3>{{ getTitle(product) }}</h3>
                                        <p>{{ product.category }}</p>
                                        <div class="project-readmore-btn">
                                            <a [routerLink]="['/catalog', product.slug.current]" class="btn-default btn-highlighted">detalii produs</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <div class="container" style="padding: 40px 0"></div>
    }
</div>
