<div class="page-about-us">
  @if (aboutPage()) {
    <div class="container">
      <div class="row align-items-center">

        <!-- Images col -->
        <div class="col-lg-7">
          <div class="about-us-image">
            <div class="about-img-1">
              <figure class="image-anime reveal">
                <img [src]="image1Url()" alt="About us">
              </figure>
            </div>
            <div class="about-img-2">
              <figure class="image-anime reveal">
                <img [src]="image2Url()" alt="About us">
              </figure>
            </div>
            <div class="experience-counter-item wow fadeInUp">
              <div class="experience-counter-content">
                <h3><span class="counter">{{ yearsExperience() }}</span>+</h3>
                <p>ani de experiență</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Story col -->
        <div class="col-lg-5">
          <div class="about-story-content">
            <div class="section-title">
              <h3 class="wow fadeInUp">istoric și experiență</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                {{ heading() }}
              </h2>
            </div>
            <div class="about-story-body wow fadeInUp" data-wow-delay="0.25s">
              <p>{{ body() }}</p>
            </div>
            <div class="about-company-quality">
              @for (item of qualityItems(); track item.title) {
                <div class="company-quality-item wow fadeInUp" data-wow-delay="0.5s">
                  <div class="icon-box">
                    <img [src]="sanityImageUrl(item.icon, 60)" [alt]="item.title">
                  </div>
                  <div class="company-quality-content">
                    <h3>{{ item.title }}</h3>
                  </div>
                </div>
              }
            </div>
            <div class="about-story-footer">
              <ul class="wow fadeInUp" data-wow-delay="0.75s">
                @for (point of bulletPoints(); track point) {
                  <li>{{ point }}</li>
                }
              </ul>
              <div class="about-story-btn wow fadeInUp" data-wow-delay="1s">
                <a routerLink="/contact" class="btn-default">Contactează-ne</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  } @else {
    <div class="container" style="padding: 80px 0"></div>
  }
</div>
