S<div class="our-testimonial">
  <div class="container">

    <!-- Section Header -->
    <div class="row section-row align-items-center">
      <div class="col-lg-5">
        <div class="section-title">
          <h3 class="wow fadeInUp">ce spun clienții noștri</h3>
          <h2 class="text-anime-style-3" data-cursor="-opaque">
            Satisfacția clienților, prioritatea noastră
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title-content wow fadeInUp" data-wow-delay="0.25s">
          <p>Peste 1000 de clienți mulțumiți ne-au acordat încrederea lor. Iată ce spun ei despre experiența cu Just Electro.</p>
        </div>
      </div>
    </div>

    <!-- Swiper Slider -->
    <div class="row">
      <div class="col-lg-12">
        <div class="testimonial-slider">
          <div class="swiper">
            <div class="swiper-wrapper" data-cursor-text="Drag">
              @for (item of certifications; track item.name) {
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-header">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img [src]="item.image" [alt]="item.name">
                        </figure>
                      </div>
                      <div class="author-content">
                        <h2>{{ item.name }}</h2>
                        <p>{{ item.role }}</p>
                      </div>
                    </div>
                    <div class="testimonial-body">
                      <p>{{ item.text }}</p>
                    </div>
                  </div>
                </div>
              }
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
