<!-- Projects Page Start -->
@if (items().length) {
  <div class="our-projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12"></div>

        <div class="col-lg-12">
          <div class="row project-item-boxes">
            @for (item of items(); track item.slug.current; let i = $index) {
              <div class="col-lg-4 col-md-6 project-item-box">
                <div class="project-item">
                  <div class="project-image" data-cursor-text="View">
                    <a [routerLink]="['/portofoliu', item.slug.current]">
                      <figure>
                        <img [src]="getCoverImageUrl(item)" [alt]="getTitle(item)">
                      </figure>
                    </a>
                  </div>
                  <div class="project-content">
                    <h3>{{ getTitle(item) }}</h3>
                    <p>{{ item.category }}</p>
                    <div class="project-readmore-btn">
                      <a [routerLink]="['/portofoliu', item.slug.current]" class="btn-default btn-highlighted">citește mai mult</a>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="container" style="padding: 40px 0"></div>
}
<!-- Projects Page End -->
