<div class="hero parallaxie">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hero-content">

          <div class="hero-content-title">
            <h3 class="wow fadeInUp">bine ai venit la JustElectro</h3>
            <h1 class="text-anime-style-3" data-cursor="-opaque">
              Produ-ți propria energie. Costuri mai mici. Control total
            </h1>
          </div>

          <div class="hero-content-body wow fadeInUp" data-wow-delay="0.25s">
            <p>
              La JustElectro, suntem dedicați revoluționării modului în care gândești
              despre energie. Spune adio facturilor uriașe și bun venit unui viitor mai verde
              cu soluțiile noastre de ultimă generație în energie solară și eoliană.
            </p>
          </div>

          <div class="hero-content-footer wow fadeInUp" data-wow-delay="0.5s">
            <a routerLink="/" class="btn-default">Solicită ofertă</a>
            <a routerLink="/project" class="btn-default btn-highlighted">Vezi proiectele noastre</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
